@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-bullhorn:before {
	content: "\e600";
}
.icomoon-spinner:before {
	content: "\e601";
}
.icomoon-grin:before {
	content: "\e602";
}
.icomoon-happy:before {
	content: "\e603";
}
.icomoon-plus:before {
	content: "\e604";
}
.icomoon-arrow-right:before {
	content: "\e605";
}
.icomoon-arrow-right2:before {
	content: "\e606";
}
.icomoon-arrow-right3:before {
	content: "\e607";
}
.icomoon-filter:before {
	content: "\e608";
}
.icomoon-volume-mute:before {
	content: "\e609";
}
.icomoon-loop:before {
	content: "\e60a";
}
.icomoon-loop2:before {
	content: "\e60b";
}
.icomoon-twitter:before {
	content: "\e60c";
}
.icomoon-twitter2:before {
	content: "\e60d";
}
.icomoon-eye-blocked:before {
	content: "\e60e";
}
.icomoon-cogs:before {
	content: "\e60f";
}
.icomoon-wrench:before {
	content: "\e610";
}
.icomoon-settings:before {
	content: "\e611";
}
.icomoon-stats:before {
	content: "\e612";
}
.icomoon-rocket:before {
	content: "\e613";
}
.icomoon-signup:before {
	content: "\e614";
}
.icomoon-tree:before {
	content: "\e615";
}
.icomoon-volume-high:before {
	content: "\e616";
}
.icomoon-volume-medium:before {
	content: "\e617";
}
.icomoon-calculate:before {
	content: "\e618";
}
.icomoon-menu:before {
	content: "\e619";
}
.icomoon-share:before {
	content: "\e61a";
}
.icomoon-calculator:before {
	content: "\e61b";
}
.icomoon-lab:before {
	content: "\e61c";
}
.icomoon-volume-mute2:before {
	content: "\e61d";
}
.icomoon-sound:before {
	content: "\e61e";
}
.icomoon-sound-off:before {
	content: "\e61f";
}
.icomoon-cancel-circle:before {
	content: "\e621";
}
.icomoon-checkmark-circle:before {
	content: "\e622";
}
.icomoon-heart:before {
	content: "\e623";
}
.icomoon-heart2:before {
	content: "\e624";
}
.icomoon-question:before {
	content: "\e625";
}
.icomoon-question2:before {
	content: "\e626";
}
.icomoon-info:before {
	content: "\e627";
}
.icomoon-info2:before {
	content: "\e628";
}
.icomoon-heart3:before {
	content: "\e629";
}
.icomoon-params:before {
	content: "\e620";
}
