@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?uw552f');
	src:url('fonts/icomoon.eot?#iefixuw552f') format('embedded-opentype'),
		url('fonts/icomoon.woff?uw552f') format('woff'),
		url('fonts/icomoon.ttf?uw552f') format('truetype'),
		url('fonts/icomoon.svg?uw552f#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-bullhorn:before {
	content: "\e600";
}
.icomoon-spinner:before {
	content: "\e601";
}
.icomoon-happy:before {
	content: "\e603";
}
.icomoon-plus:before {
	content: "\e604";
}
.icomoon-filter:before {
	content: "\e608";
}
.icomoon-volume-mute:before {
	content: "\e609";
}
.icomoon-loop:before {
	content: "\e60a";
}
.icomoon-loop2:before {
	content: "\e60b";
}
.icomoon-twitter:before {
	content: "\e60c";
}
.icomoon-twitter2:before {
	content: "\e60d";
}
.icomoon-eye-blocked:before {
	content: "\e60e";
}
.icomoon-cogs:before {
	content: "\e60f";
}
.icomoon-wrench:before {
	content: "\e610";
}
.icomoon-settings:before {
	content: "\e611";
}
.icomoon-stats:before {
	content: "\e612";
}
.icomoon-signup:before {
	content: "\e614";
}
.icomoon-volume-high:before {
	content: "\e616";
}
.icomoon-volume-medium:before {
	content: "\e617";
}
.icomoon-calculator:before {
	content: "\e61b";
}
.icomoon-lab:before {
	content: "\e61c";
}
.icomoon-volume-mute2:before {
	content: "\e61d";
}
.icomoon-sound:before {
	content: "\e61e";
}
.icomoon-cancel-circle:before {
	content: "\e621";
}
.icomoon-checkmark-circle:before {
	content: "\e622";
}
.icomoon-heart:before {
	content: "\e623";
}
.icomoon-heart2:before {
	content: "\e624";
}
.icomoon-question2:before {
	content: "\e626";
}
.icomoon-info:before {
	content: "\e627";
}
.icomoon-info2:before {
	content: "\e628";
}
.icomoon-exit:before {
	content: "\e602";
}
.icomoon-quill:before {
	content: "\e605";
}
.icomoon-sound-off:before {
	content: "\e61f";
}
.icomoon-trophy:before {
	content: "\e606";
}
.icomoon-spinner3:before {
	content: "\e625";
}
.icomoon-heart4:before {
	content: "\e62c";
}
.icomoon-tools:before {
	content: "\e62d";
}
.icomoon-megaphone:before {
	content: "\e62e";
}
.icomoon-trophy2:before {
	content: "\e62f";
}
.icomoon-retweet:before {
	content: "\e63a";
}
.icomoon-info3:before {
	content: "\e63b";
}
.icomoon-info4:before {
	content: "\e63c";
}
.icomoon-help:before {
	content: "\e63d";
}
.icomoon-cone:before {
	content: "\e63e";
}
.icomoon-add-to-list:before {
	content: "\e63f";
}
