@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-m4y9kz');
	src:url('fonts/icomoon.eot?#iefix-m4y9kz') format('embedded-opentype'),
		url('fonts/icomoon.woff?-m4y9kz') format('woff'),
		url('fonts/icomoon.ttf?-m4y9kz') format('truetype'),
		url('fonts/icomoon.svg?-m4y9kz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-bullhorn:before {
	content: "\e600";
}
.icomoon-spinner:before {
	content: "\e601";
}
.icomoon-happy:before {
	content: "\e603";
}
.icomoon-plus:before {
	content: "\e604";
}
.icomoon-filter:before {
	content: "\e608";
}
.icomoon-volume-mute:before {
	content: "\e609";
}
.icomoon-loop:before {
	content: "\e60a";
}
.icomoon-loop2:before {
	content: "\e60b";
}
.icomoon-twitter:before {
	content: "\e60c";
}
.icomoon-twitter2:before {
	content: "\e60d";
}
.icomoon-eye-blocked:before {
	content: "\e60e";
}
.icomoon-cogs:before {
	content: "\e60f";
}
.icomoon-wrench:before {
	content: "\e610";
}
.icomoon-settings:before {
	content: "\e611";
}
.icomoon-stats:before {
	content: "\e612";
}
.icomoon-rocket:before {
	content: "\e613";
}
.icomoon-signup:before {
	content: "\e614";
}
.icomoon-tree:before {
	content: "\e615";
}
.icomoon-volume-high:before {
	content: "\e616";
}
.icomoon-volume-medium:before {
	content: "\e617";
}
.icomoon-calculate:before {
	content: "\e618";
}
.icomoon-menu:before {
	content: "\e619";
}
.icomoon-share:before {
	content: "\e61a";
}
.icomoon-calculator:before {
	content: "\e61b";
}
.icomoon-lab:before {
	content: "\e61c";
}
.icomoon-volume-mute2:before {
	content: "\e61d";
}
.icomoon-sound:before {
	content: "\e61e";
}
.icomoon-cancel-circle:before {
	content: "\e621";
}
.icomoon-checkmark-circle:before {
	content: "\e622";
}
.icomoon-heart:before {
	content: "\e623";
}
.icomoon-heart2:before {
	content: "\e624";
}
.icomoon-question2:before {
	content: "\e626";
}
.icomoon-info:before {
	content: "\e627";
}
.icomoon-info2:before {
	content: "\e628";
}
.icomoon-heart3:before {
	content: "\e629";
}
.icomoon-exit:before {
	content: "\e602";
}
.icomoon-quill:before {
	content: "\e605";
}
.icomoon-sound-off:before {
	content: "\e61f";
}
.icomoon-trophy:before {
	content: "\e606";
}
.icomoon-spinner2:before {
	content: "\e607";
}
.icomoon-spinner3:before {
	content: "\e625";
}
.icomoon-params:before {
	content: "\e620";
}
.icomoon-mail:before {
	content: "\e62a";
}
.icomoon-feather:before {
	content: "\e62b";
}
.icomoon-heart4:before {
	content: "\e62c";
}
.icomoon-tools:before {
	content: "\e62d";
}
.icomoon-megaphone:before {
	content: "\e62e";
}
.icomoon-trophy2:before {
	content: "\e62f";
}
.icomoon-hourglass:before {
	content: "\e630";
}
.icomoon-ellipsis:before {
	content: "\e631";
}
.icomoon-dots:before {
	content: "\e632";
}
.icomoon-dot:before {
	content: "\e633";
}
.icomoon-arrow-down:before {
	content: "\e634";
}
.icomoon-arrow-right:before {
	content: "\e635";
}
.icomoon-arrow-down2:before {
	content: "\e636";
}
.icomoon-arrow-right2:before {
	content: "\e637";
}
.icomoon-arrow-down3:before {
	content: "\e638";
}
.icomoon-arrow-right3:before {
	content: "\e639";
}
.icomoon-retweet:before {
	content: "\e63a";
}
.icomoon-info3:before {
	content: "\e63b";
}
.icomoon-info4:before {
	content: "\e63c";
}
.icomoon-help:before {
	content: "\e63d";
}
.icomoon-cone:before {
	content: "\e63e";
}
