$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";


$color-scheme:  3321TvCw0w0w0;

$tweet-border-width: 1px;
$tweet-border-color: #e0e0e0;
$tweet-border-dotted: $tweet-border-width dotted $tweet-border-color;
$tweet-border-solid: $tweet-border-width solid $tweet-border-color;
$background-color: #ffffff;
$tweet-background-color: #ffffff;
$tweet-background-hover-color: #f8f8f8;
$nav-background-color: #e6f1f6;

$vote-button-side-padding: 20px;
$vote-button-vert-padding: 5px;
$tweet-glyph-size: 24px;
$deep-purple: #a166d5;
$aye-green: #62d7a5;
$light-aye-green: #a5ebcd;
$nay-red: #ff9c74;
$light-nay-red: #ffc8b3;
$settings-gray: #777777;
$tweet-padding: 5px;
$light-purple: #efe6f6;
$badge-purple: #c7a9e1;
$twitter-blue: #55acee;
$gray: #777777;
$nontweet-tweet-column-padding: $tweet-padding + 2 * $tweet-border-width;

.ayeGreen {
    color: $aye-green;
}

.nayRed {
    color: $nay-red;
}

.twitterBlue {
    color: $twitter-blue;
}

.wynnoPurple {
    color: $deep-purple;
}

.gray {
    color: $gray;
}

body {
    background: $background-color;
    font-family: "Open Sans", sans-serif;
    color: #333;
    padding-top: 70px;
}

.container {
}

.navbar-default {
    background-color: $nav-background-color;
}

.tweet {
    padding-bottom: 5px;
}

.tweetColPadding {
    padding-left: $nontweet-tweet-column-padding;
    padding-right: $nontweet-tweet-column-padding;
}

.tweetStuff {
    background-color: $tweet-background-color;
    min-height: 90px;
    padding: $tweet-padding;
    border-top: $tweet-border-dotted;
    border-right: $tweet-border-dotted;
    border-bottom: $tweet-border-dotted;
    border-left: $tweet-border-dotted;
    overflow: auto; //necessary to prevent badge from protruding outside of tweetStuff box
}

.leftColumn {
    height: 100%;
    float: left;
}

.tweeterImage {
}

.tweeterImage > img {
    vertical-align: inherit;
}

.rightColumn {
    height: 100%;
    padding-left: 10px;
    overflow: hidden;
}

.tweetMeta {
    width: 100%;
    display: inline-block;
}

.tweeterName, .tweeterScreenName {
    float: left;
}

.tweetTimestamp {
    float: right;
}

.tweeterName {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.tweeterScreenName {
    vertical-align: bottom;
    color: #989898;
}

.tweeterScreenName:hover {
    text-decoration: underline;
}

.tweetTimestamp {
}

.pvalue {
    padding-left: 8px;
}

.pvalue > .badge {
    background-color: $badge-purple;
}

.tweetText {
    font-size: 14px;
    display: inline-block;
}

.tweetFooter {
    color: #989898;
    padding-top: 5px;
}

.retweetedStatus {
}

.tweetMeta, .tweetFooter {
    font-size: 12px;
    line-height: 14px;
}

.voteButtons {
    // background-color: $tweet-background-color;
    // border-right: $tweet-border-dotted;
    // border-bottom: $tweet-border-dotted;
    // border-left: $tweet-border-dotted;
    // display: inline-block;
}

.voteButtons .btn {
    padding: 3px 12px;
}

.voteButtons .btn-default {
    border-color: $tweet-border-color;
}

.voteAye {
    border-right: $tweet-border-dotted;
}

.voteAye, .voteNay {
    // display: inline-block;
    // width: 49%;
}

.aye {
    font-size: $tweet-glyph-size;
    color: $aye-green;
}

.nay {
    font-size: $tweet-glyph-size;
    color: $nay-red;
}

.nav.wynnoButtons li a {
    font-size: 24px;
    line-height: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.wynnoButtonDesc {
    font-family: "Ubuntu", sans-serif;
    padding-left: 10px;
}

.wideVoteButton {
    width: 50%;
}

.left, .right {
    border-top: 0;
}

.left {
    border-top-left-radius: 0;
}

.right {
    border-top-right-radius: 0;
}

.noVoteAlertAbove {
    margin-top: 20px;
}

.navbar .nav > li > a:hover {
    background-color: #f8f8f8;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    background-color: $background-color;
    //border-bottom: 4px solid $deep-purple;
    box-shadow: none;
}

.navbar .nav > li.active > a {
    //padding-bottom: 6px;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover {

}

.funnel {
    display: inline;
    font-size: 20px;
    padding-right: 16px
}

.navbar-brand {
    font-size: 36px;
    line-height: 18px;
}

.wynno, 
.navbar .navbar-brand,
.navbar .navbar-brand:hover {
    font-family: "Ubuntu", sans-serif;
    color: $deep-purple;
}

.y {
    color: $aye-green;
}

.n {
    color: $nay-red;
}

.navbar .nav > .passing > a,
.navbar .nav > .passing > a:hover {
    color: $aye-green;
}

.navbar .nav > .failing > a,
.navbar .nav > .failing > a:hover {
    color: $nay-red;
}

.navbar .navbar-btn {
    background-image: none;
    border-color: $deep-purple;
    background-color: whitesmoke;
}

.navbar .navbar-btn:hover {
    background-color: whitesmoke;
}

.navbar .navbar-btn:focus {
    background-color: #e6e6e6;
}

.navbar .navbar-btn .icon-bar {
}

.navbar .navbar-btn .icon-bar.firstBar {
    background-color: $aye-green;
}

.navbar .navbar-btn .icon-bar.secondBar {
    background-color: $nay-red;
}

.navbar .navbar-btn .icon-bar.thirdBar {
    background-color: $aye-green;
}

.landingMainBig {
    font-size: 8em;
}

.landingMainSmall {
    position: relative;
    left: -20px;
    font-size: 5em;
    vertical-align: 22px;
}

.landingFeatureSmall {
    font-size: 5em;
    vertical-align: 18px;
}

.landingBird {
    color: $twitter-blue;
}

.landingFilter {
    color: $aye-green;
}

.landingGrin {
    color: $deep-purple;
}

.landingBannerBackground {
    background-color: moccasin;
}

.buzzword {
    color: orangered;
}

.topAndBottomPadding {
    padding-top: 20px;
    padding-bottom: 10px;
}

.landingFeature {
    font-size: 6em;
}

.tryItContainer {
    padding-top: 30px;
}

.tryIt, .tryIt:hover {
    //background-color: #ff6a32;
    background-color: $deep-purple;
}

.trainGlyph {
    display: inline-block;
}

.beaker {
    padding-top: 10px;
}

.landingCopy {
    font-size: 16px;
}

.page-header {
    border-color: $deep-purple;
}

.settingHeader {
    color: #ffffff;
    padding-left: 5px;
}

.heardUser, .heardWord, .mutedUser, .mutedWord {
    padding-left: 10px;
}

.heardUsers .settingHeader, .heardWords .settingHeader {
    background-color: $light-aye-green;
}

.mutedUsers .settingHeader, .mutedWords .settingHeader {
    background-color: $light-nay-red;
}

.heardUsers, .heardWords {
    border-left: 2px solid $aye-green;
}

.mutedUsers, .mutedWords {
    border-left: 2px solid $nay-red;
}

.innerSettingsBlock {
    margin-left: 10px;
}

.user, .word {
    display: inline;
    width: 180px;
}

.removeSetting {
    display: inline;
    font-size: 16px;
    color: $settings-gray;
    background: transparent;
    border: 0;
}

.removeSetting:hover {
    color: #555555;
}

.settingInputContainer {
    padding-top: 10px;
    padding-left: 10px;
}

$twitterButtonRadius: 3px;

.signInContainer, .username {
    //border: 1px solid #1dcaff;
    //border-radius: $twitterButtonRadius;
}

.twitterBird {
    display: inline-block;
    font-size: 14px;
    padding-right: 5px;
}

.signIn {
    display: inline-block;
}

.signIn:hover {
}

.fetchNew {
    margin-bottom: 10px;
}

.loadEarlier {
    margin-top: 10px;
    margin-bottom: 10px;
}

.lastUpdateTime {
    vertical-align: top;
    position: relative;
    top: 8px;
    padding-left: 10px;
    color: #808080;
}

.feedbackContainer {
    position: fixed;
    visibility: visible!important;
    cursor: pointer;
    bottom: 0;
    right: 2%;
    width: auto;
    border: 0;
    font-size: 14px;
    background: #383838;
    color: #FFFFFF;
    padding: 10px 10px;
    margin: 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.feedback {
    padding-left: 6px;
    display: none;
}

@keyframes anim-rotate {
    from {
        transform: rotate(0);
        -ms-transform:rotate(0);
    }
    to {
        transform: rotate(360deg);
        -ms-transform:rotate(360deg);
    }
}

@-webkit-keyframes anim-rotate {
    from {
        -webkit-transform:rotate(0);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}

@keyframes anim-rotate-backward {
    from {
        transform: rotate(360deg);
        -ms-transform:rotate(360deg);
    }
    to {
        transform: rotate(0);
        -ms-transform:rotate(0);
    }
}

@-webkit-keyframes anim-rotate-backward {
    from {
        -webkit-transform:rotate(360deg);
    }
    to {
        -webkit-transform:rotate(0);
    }
}

.spinner {
    display: inline-block;
    line-height: 1;
    animation: anim-rotate 2s infinite linear;
    -webkit-animation: anim-rotate 2s infinite linear;
    -moz-animation: anim-rotate 2s infinite linear;
    -o-animation: anim-rotate 2s infinite linear;
}

.backwardSpinner {
    display: inline-block;
    line-height: 1;
    animation: anim-rotate-backward 2s infinite linear;
    -webkit-animation: anim-rotate-backward 2s infinite linear;
    -moz-animation: anim-rotate-backward 2s infinite linear;
    -o-animation: anim-rotate-backward 2s infinite linear;
}

.loadingText {
    padding-left: 4px;
}

.cancelFeedback {
    position: absolute;
    font-size: 28px;
    right: 20px;
    top: 10px;
}

.sendButton {
    width: 100%;
}

.modal-footer {
    margin-top: 0;
}

.bigBird {
    color: $twitter-blue;
    font-size: 2em;
}

.bigBirdText {
    font-size: 24px;
}

.size20 {
    font-size: 20px;
}

.oops {
    margin-bottom: 16px;
}

.centeredText {
    text-align: center;
}

.tosCheckbox {
    margin: 0;
    position: relative;
    bottom: 1px;
}

.disagree:hover {
    // to disable the hover gray background on the Cancel button
    background-color: #ffffff;
}

.footer {
    padding: 5px 0;
    width: 100%;
    background-color: $nav-background-color;
}

.footerItem {
    padding-right: 6px;
    color: $gray;
}

.footerBrand {
    padding-left: 6px;
}

@media (max-width: 979px) {

}

@media (min-width: 980px) {

}

@media (max-width: 767px) {

}

@media (min-width: 768px) {
    .navbar-brand {
        line-height: 12px;
    }

    .wynnoButtons {
        padding-left: 60px;
    }

    .landingFeatureSmall.hidden-xs{
        display: inline !important;
    }
}

@media (min-width: 992px) {
    .tweet {
        padding-bottom: 0;
    }

    .voteButtons {
        margin-top: 1px; // because 'perfect' alignment of voteButtons and tweet actually makes voteButtons look higher
        //border-top: $tweet-border-dotted;
    }

    .tweet:hover .btn-group-vertical > .btn, .tweet:hover .tweetStuff {
        background-color: $tweet-background-hover-color;
    }

    .voteButtons > .btn-group-vertical > .btn:hover {
        background-color: $light-purple;
    }

    .tweetStuff {
        border-top: $tweet-border-solid;
        border-left: $tweet-border-solid;
        border-right: $tweet-border-solid;
        border-bottom: 0;
    }

    .tweetBelowHiddenGivenVote {
        border-bottom: $tweet-border-solid;
    }

    .lastTweet {
        border-bottom: $tweet-border-solid;
    }

    .voteAye, .voteNay {
        display: block;
        width: 100%;
    }

    .voteAye {
        border-right: 0;
        border-bottom: $tweet-border-dotted;
    }

    .signIn {
    }

    .feedback {
        display: inline;
    }

    .bigBirdText {
        font-size: 28px;
    }
}