$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "bootstrap-sass/lib/responsive";

$color-scheme:  3321TvCw0w0w0;

$tweet-border-dotted: 1px dotted #e0e0e0;
$tweet-border-solid: 1px solid #e0e0e0;
$background-color: #ffffff;
$tweet-background-hover-color: #f8f8f8;

$vote-button-side-padding: 20px;
$vote-button-vert-padding: 5px;
$tweet-glyph-size: 30px;

body {
    background: $background-color;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding-top: 5px;
}



.container {
    #width: 625px;
}

.tweet {
    #margin-left: auto;
    #margin-right: auto;
    #overflow: auto;
    padding-bottom: 20px;
}

.tweetStuff {
    #width: 458px;
    height: 100%;
    min-height: 102px;
    #padding: 5px 10px 5px 10px;
    #float: left;
    border-right: $tweet-border-dotted;
    border-bottom: $tweet-border-dotted;
    border-left: $tweet-border-dotted;
}

.tweeterImage {
    float: left;
    padding: 4px 10px 6px 0px;
    display: inline-block;
}

.tweetMeta {
    #width: 80%;
    display: block;
}


.tweeterName {
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    display: inline;
    color: #000000;
}

.tweeterScreenName {
    #font-size: 12px;
    line-height: 14px;
    vertical-align: text-bottom;
    display: inline;
}

.pvalue {
    line-height: 14px;
    vertical-align: text-bottom;
    display: inline;
    float: right;
}

.tweetTimestamp {
    line-height: 14px;
    vertical-align: text-bottom;
    float: right;
    display: inline;
    padding-left: 15px;
}

.tweetContent {
    height: 100%;
    display: inline-block;
}

.tweetText {
    display: block;
}

.tweetFooter {
    width: 100%;
    display: block;
}

.retweetedStatus {
    float: left;
    display: inline;
}

.tweetLink {
    float: right;
    display: inline;
}

.tweetMeta, .tweetFooter {
    color: #989898;
    font-size: 12px;
}

.voteButtons {
    border-top: $tweet-border-dotted;
    border-right: $tweet-border-dotted;
    border-bottom: $tweet-border-dotted;
    border-left: $tweet-border-dotted;
    display: inline-block;
}

.voteButtonStandin {
    border: 1px solid $background-color;
}

.voteAye {
    border-right: $tweet-border-dotted;
}

.voteAye, .voteNay {
    display: inline-block;
    width: 49%;
}

.even {
    background-color: $tweet-background-hover-color;
}

@media (min-width: 768px) {
    .tweet {
        padding-bottom: 0;
    }

    .even {
        background-color: #ffffff;
    }

    .tweet:hover > .voteButtons, .tweet:hover > .tweetStuff {
        background-color: $tweet-background-hover-color !important;
    }

    .tweetStuff {
        border-left: $tweet-border-solid;
        border-right: $tweet-border-solid;
        border-bottom: $tweet-border-solid;
    }
    .voteAye, .voteNay {
        display: block;
        width: 100%;
    }

    .voteAye {
        border-right: 0;
        border-bottom: $tweet-border-dotted;
    }

    a:hover > .voteAye, a:hover > .voteNay {
        background-color: #f5e9ff;
    }
}

.aye, .nay {
    margin: 0 auto;
}

.aye {
    width: $tweet-glyph-size;
    height: $tweet-glyph-size;
    padding: $vote-button-vert-padding 0;
    font-size: $tweet-glyph-size;
}

a .aye {
    color: #62d7a5;
}

.nay {
    width: $tweet-glyph-size;
    height: $tweet-glyph-size;
    padding: $vote-button-vert-padding 0;
    font-size: $tweet-glyph-size;
}

a .nay {
    color: #ff9c74;
}

// necessary to remove underline which appears in gap between voteButtons due to their 49% width
#aVoteAye:hover {
    text-decoration: none;
}

.nav.wynnoButtons li a {
    font-size: 25px;
    padding-right: 27px !important;
    text-shadow: none;
}

.nav.wynnoButtons li a:hover {
    background-color: #f8f8f8;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    background-color: #ffffff;
    box-shadow: none;
}

.navbar .brand {
    //font-family: "Maven Pro", sans-serif;
    font-family: "Raleway Dots", sans-serif;
    padding-left: 40px;
    font-size: 32px;
    //font-weight: bold;
    line-height: 100%;
    color: #a166d5;
    text-shadow: none;
    padding-top: 4px;
    padding-bottom: 3px;
}

.funnel {
    display: inline;
    font-size: 20px;
    padding-right: 16px
}

.w, .y, .biggern, .smallern, .o {
    background-color: #FFFFFF;
    display: inline
}

.w {
    font-size: 36px;
}

.y {
    font-size: 36px;
    color: #62d7a5;
}

.biggern {
    font-size: 36px;
}

.smallern {
    font-size: 36px;
    color: #ff9c74;
}

.o {
    font-size: 36px;
    //font-weight: bold;
}

.navbar-fixed-top .navbar-inner {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-inner {
    //background-color: #f0f0f0;
    background-color: #ffffff;
    background-image: none;
    background-image: no-repeat;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar .nav > .passing > a,
.navbar .nav > .passing > a:hover {
    color: #62d7a5;
}

.navbar .nav > .failing > a,
.navbar .nav > .failing > a:hover {
    color: #ff9c74;
}

.protectedUsers, .protectedWords, .mutedUsers, .mutedWords {
    width: 280px;
}

.protectedUser, .protectedWord, .mutedUser, .mutedWord {
    width: 100%;
}

.user, .word {
    display: inline;
    width: 180px;
}

.removeSetting {
    display: inline;
    width: 16px;
    padding-left: 4px;
    font-size: 16px;
}

$twitterButtonRadius: 3px;

.signInContainer {
    width: 153px;
    height: 28px;
    margin: 9px 15px 8px 15px;
    padding: 0 !important;
}

.signIn {
    width: 141px;
    min-height: 16px;
    background-image: url('../images/sign-in-with-twitter-link.png');
    background-color: #C0DEED;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #1dcaff;
    border-radius: $twitterButtonRadius;
    padding: 5px;
}

.signIn:hover {
    background-color: #FFFFFF;
}

.refreshSpinnerContainer {
    width: 28px;
    height: 28px;
    margin: 9px 0 8px 0;
    padding: 0 !important;
}

.refreshSpinner, .refreshSpinner:hover {
    border: 1px solid #1dcaff;
    border-radius: $twitterButtonRadius;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    padding: 3px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

.refreshSpinner {
    background-image: url('../images/3-128-ltgray.png');
}

.refreshSpinner:hover {
    background-image: url('../images/3-128-darkgray.png');
}

.refreshSpinner.spinning {
    background-image: url('../images/3-128-white.gif');
}