<p>Filters are rules that </p>

<p>To create a filter, click the <span class="icomoon-add-to-list"></span> button in the navigation bar. This opens the Filter Builder.</p>

<p>A filter has three parts, corresponding to the three steps in the Filter Builder:</p>

<div ng-controller="CreateFilterCtrl">
  <div class="row">
    <p>1. How </p>

    <div class="col-xs-12 col-sm-12 col-md-12">
      <h3 class="darkGray">1. How</h3>
      <div class="pieceOfDraft" ng-class="{ayeGreenBackground: draftFilter.type == 'hear', nayRedBackground: draftFilter.type =='mute'}">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span ng-bind="draftFilter.typeDisplayed" ng-class="{ayeGreen: draftFilter.type == 'hear', nayRed: draftFilter.type =='mute'}"></span>
            <span class="caret" ng-class="{white: draftFilter.type == 'hear' || draftFilter.type == 'mute'}"></span>
          </button>
          <ul class="dropdown-menu textAlignLeft" role="menu">
            <li><a href="" ng-click="draftFilter.type = 'hear'; draftFilter.typeDisplayed = 'Hear'" class="ayeGreen">Hear</a></li>
            <li><a href="" ng-click="draftFilter.type = 'mute'; draftFilter.typeDisplayed = 'Mute'" class="nayRed">Mute</a></li>
          </ul>
        </div>
      </div>
    </div>

    <p>This step defines whether the filter should 'hear' or 'mute' the tweets that satisfy its conditions. Click the dropdown button to select one of the options. This step is required.</p> 

    <p>2. Who </p>
 

      <div class="col-xs-12 col-sm-12 col-md-12">
        <h3 class="darkGray">2. Who</h3>
        <div class="pieceOfDraft" ng-class="{ayeGreenBackground: draftFilter.type == 'hear', nayRedBackground: draftFilter.type =='mute'}">
          <div class="dropdown">
            <a class="btn btn-default dropdown-toggle">
              <span ng-bind="draftFilter.usersDisplayed"></span>
              <span class="caret" ng-show="!!draftFilter.users.length"></span>
            </a>
            <span class="s sentenceText">'s</span>
            <ul class="dropdown-menu textAlignLeft" role="menu">
              <li ng-show="!draftFilter.users.length" class="paddingLeft10">(default is all users)</li>
              <li ng-repeat="user in draftFilter.users">
                <button class="removeSetting" ng-click="draftFilterRemoveUser($index)">
                  <span class="icomoon-cancel-circle"></span>
                </button>
                <span class="user">@{{user}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="input-group paddingTop16">
          <span class="input-group-addon">@</span>
          <input class="form-control" id="prependedInput" type="text" placeholder="Enter a username" ng-model="draftFilter.usernameInput" ng-minlength="1">
          <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="draftFilterAddUser(draftFilter.usernameInput)" value="Add">Add</button>
          </span>
        </div>
      </div>

      <p>This step defines what users the filter applies to. By default, a filter applies to all users.</p>

      This step is not required if you provide specific filter conditions in step 3.

      <p>3. What </p>

      <div class="col-xs-12 col-sm-12 col-md-12">
        <h3 class="darkGray">3. What</h3>
        <div class="pieceOfDraft scope" ng-class="{ayeGreenBackground: draftFilter.type == 'hear', nayRedBackground: draftFilter.type =='mute'}">
          <div class="btn-group">
            <button type="button" class="scopeBtn btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span ng-bind="draftFilter.scopeDisplayed"></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu textAlignLeft" role="menu">
              <li><a href="" ng-click="draftFilter.scope = 'all'; draftFilter.scopeDisplayed = 'tweets and retweets'">tweets and retweets</a></li>
              <li><a href="" ng-click="draftFilter.scope = 'tweets'; draftFilter.scopeDisplayed = 'tweets only'">tweets only</a></li>
              <li><a href="" ng-click="draftFilter.scope = 'retweets'; draftFilter.scopeDisplayed = 'retweets only'">retweets only</a></li>
            </ul>
          </div>
        </div>
        <div class="visible-xs paddingTop16"></div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5">
        <div class="hidden-xs hidden-sm paddingTop56"></div>
        <div class="thatContain sentenceText" ng-class="{ayeGreenBackground: draftFilter.type == 'hear', nayRedBackground: draftFilter.type =='mute'}">that contain ...</div>
        <div class="pieceOfDraft" ng-class="{ayeGreenBackground: draftFilter.type == 'hear', nayRedBackground: draftFilter.type =='mute'}">
          <div class="" ng-repeat="condition in draftFilter.conditions">
            <div class="">
              <div class="andCondition sentenceText" ng-show="!$first">and</div>               
              <button class="removeSetting" ng-click="removeCondition($index)" ng-hide="condition.typeDisplayed == '(anything)'">
                <span class="icomoon-cancel-circle"></span>
              </button>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span ng-bind="condition.typeDisplayed"></span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="" ng-click="condition.type = 'link'; condition.typeDisplayed = 'a link to'" class="">a link to</a></li>
                  <li><a href="" ng-click="condition.type = 'word'; condition.typeDisplayed = 'the word/phrase'; condition.wordIsCaseSensitive = false" class="">the word/phrase</a></li>
                  <li><a href="" ng-click="condition.type = 'hashtag'; condition.typeDisplayed = 'the hashtag'" class="">the hashtag</a></li>
                  <li><a href="" ng-click="condition.type = 'picture'; condition.typeDisplayed = 'a picture'" class="">a picture</a></li>
                  <li><a href="" ng-click="condition.type = 'quotation'; condition.typeDisplayed = 'a quotation'" class="">a quotation</a></li>
                </ul>
              </div>                
              <div ng-if="condition.type == 'link'" class="inlineBlock">
                <input type="text" class="form-control" placeholder="(any domain)" ng-model="condition.link">
              </div>
              <div ng-if="condition.type == 'word'" class="inlineBlock vertAlignTop">
                <div>
                  <input type="text" class="form-control" placeholder="Enter a word or phrase" ng-model="condition.word">
                </div>
                <div>
                  <label class="checkbox caseSensitiveLabel">
                    <input type="checkbox" ng-model="condition.wordIsCaseSensitive">case-sensitive
                  </label>
                </div>
              </div>
              <div ng-if="condition.type == 'hashtag'" class="inlineBlock vertAlignTop">
                <div>
                  <input type="text" class="form-control" placeholder="(any hashtag)" ng-model="condition.hashtag">
                </div>
                <div ng-if="!!condition.hashtag">
                  <label class="caseSensitiveLabel">
                    (not case-sensitive)
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="paddingTop16">
          <button type="button" class="btn btn-primary" ng-click="addAnotherCondition()">
            <span class="icomoon-plus plus"></span>Add another
          </button>
        </div>
      </div>

      <p>When you're finished creating your filter, click the Save Filter button.</p>

      <button type="button" class="btn btn-primary btn-lg saveFilter" ng-click="saveFilter(draftFilter)" ng-disabled="draftFilterIsIncomplete()">
        <span>Save filter</span>
      </button>

      <p>The button will be disabled if you haven't defined a valid filter in steps 1-3.</p>

    </div>

<div class="modal-footer">

</div>


</div>






Create 

Mute a user entirely:



Hear tweets that contain a link to a certain domain

Mute tweets from particular users that contain a picture:

Hear tweets that contain a quotation:

Mute a user's retweets:

Note that it's currently not possible to hear or mute *all retweets from all users*, but that feature is in the pipeline.

Active filters are applied to tweets in the order they are listed, that is, from the top down. That means if a tweet matches the criteria of both a hear filter and a mute filter, the filter that is listed first is the one that gets applied. Since active filters are currently listed in the order in which they were created, older filters take priority over newly created filters. This chronological priority is only temporary, though; we are hard at work on a drag-and-drop feature that will allow you to easily reorder your filters however you want.
