node_modules
.DS_Store
.tmp
.sass-cache
public/bower_components
db_admin_steps.txt
lib/config/keys
dist/lib/config/keys
python/output.dot
python/.DS_Store
python/*.pdf
sysadmin/dev/server.crt
sysadmin/dev/server.csr
sysadmin/dev/server.key
sysadmin/dev/server.key.org
sysadmin/dev/wynno-dev5.pem
sysadmin/prod/keys
cert_chain.crt
www_wynno_com.pem
www_wynno_com.key
sysadmin/prod/roles/nginx/files/www_wynno_com.csr
sysadmin/prod/manual/hostname_ssh_key_ids.json
sysadmin/prod/manual/preexisting_droplets.json
sysadmin/prod/manual/production
sysadmin/prod/manual/dynamic_inventory.json
sysadmin/prod/manual/dynamic_inventory_dict.json
sysadmin/prod/manual/hostnames
sysadmin/prod/manual/pip_packages
sysadmin/prod/manual/ansible-digital_ocean.cache
