node_modules
.tmp
.sass-cache
public/bower_components
db_admin_steps.txt
lib/config/keys.json
dist/lib/config/keys.json
lib/config/ssl
dist/lib/config/ssl
python/output.dot
python/.DS_Store
python/*.pdf
sysadmin/prod/keys
sysadmin/prod/roles/nginx/files/www_wynno_com.pem
sysadmin/prod/roles/nginx/files/www_wynno_com.key
sysadmin/prod/roles/nginx/files/www_wynno_com.csr
sysadmin/prod/roles/common/files/id_rsa.pub
