<div class="modal-header">
  <button class="close cancelFeedback" title="Close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h3 class="wynnoPurple"><span class="icomoon-filter"></span>Create a filter</h3>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-2">
        <h3 class="darkGray">1. How</h3>
        <div class="pieceOfDraft" ng-class="{ayeGreenBackground: draftFilter.type == 'hear', nayRedBackground: draftFilter.type =='mute'}">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span ng-bind="draftFilter.typeDisplayed" ng-class="{ayeGreen: draftFilter.type == 'hear', nayRed: draftFilter.type =='mute'}"></span>
              <span class="caret" ng-class="{white: draftFilter.type == 'hear' || draftFilter.type == 'mute'}"></span>
            </button>
            <ul class="dropdown-menu textAlignLeft" role="menu">
              <li><a href="" ng-click="draftFilter.type = 'hear'; draftFilter.typeDisplayed = 'Hear'" class="ayeGreen">Hear</a></li>
              <li><a href="" ng-click="draftFilter.type = 'mute'; draftFilter.typeDisplayed = 'Mute'" class="nayRed">Mute</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <h3 class="darkGray">2. Who</h3>
        <div class="pieceOfDraft" ng-class="{ayeGreenBackground: draftFilter.type == 'hear', nayRedBackground: draftFilter.type =='mute'}">
          <div class="dropdown">
            <a class="btn btn-default dropdown-toggle">
              <span ng-bind="draftFilter.usersDisplayed"></span>
              <span class="caret" ng-show="!!draftFilter.users.length"></span>
            </a>
            <span class="s sentenceText">'s</span>
            <ul class="dropdown-menu textAlignLeft" role="menu">
              <li ng-show="!draftFilter.users.length" class="paddingLeft10">(default is all users)</li>
              <li ng-repeat="user in draftFilter.users">
                <button class="removeSetting" ng-click="draftFilterRemoveUser($index)">
                  <span class="icomoon-cancel-circle"></span>
                </button>
                <span class="user">@{{user}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="input-group paddingTop16">
          <span class="input-group-addon">@</span>
          <input class="form-control" id="prependedInput" type="text" placeholder="Enter a username" ng-model="draftFilter.usernameInput" ng-minlength="1">
          <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="draftFilterAddUser(draftFilter.usernameInput)" value="Add">Add</button>
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2">
        <h3 class="darkGray">3. What</h3>
        <div class="pieceOfDraft scope" ng-class="{ayeGreenBackground: draftFilter.type == 'hear', nayRedBackground: draftFilter.type =='mute'}">
          <div class="btn-group">
            <button type="button" class="scopeBtn btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span ng-bind="draftFilter.scopeDisplayed"></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu textAlignLeft" role="menu">
              <li><a href="" ng-click="draftFilter.scope = 'all'; draftFilter.scopeDisplayed = 'tweets and retweets'">tweets and retweets</a></li>
              <li><a href="" ng-click="draftFilter.scope = 'tweets'; draftFilter.scopeDisplayed = 'tweets only'">tweets only</a></li>
              <li><a href="" ng-click="draftFilter.scope = 'retweets'; draftFilter.scopeDisplayed = 'retweets only'">retweets only</a></li>
            </ul>
          </div>
        </div>
        <div class="visible-xs paddingTop16"></div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5">
        <div class="hidden-xs hidden-sm paddingTop56"></div>
        <div class="thatContain sentenceText" ng-class="{ayeGreenBackground: draftFilter.type == 'hear', nayRedBackground: draftFilter.type =='mute'}">that contain ...</div>
        <div class="pieceOfDraft" ng-class="{ayeGreenBackground: draftFilter.type == 'hear', nayRedBackground: draftFilter.type =='mute'}">
          <div class="" ng-repeat="condition in draftFilter.conditions">
            <div class="">
              <div class="andCondition sentenceText" ng-show="!$first">and</div>               
              <button class="removeSetting" ng-click="removeCondition($index)" ng-hide="condition.typeDisplayed == '(anything)'">
                <span class="icomoon-cancel-circle"></span>
              </button>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span ng-bind="condition.typeDisplayed"></span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="" ng-click="condition.type = 'link'; condition.typeDisplayed = 'a link to'" class="">a link to</a></li>
                  <li><a href="" ng-click="condition.type = 'word'; condition.typeDisplayed = 'the word/phrase'; condition.wordIsCaseSensitive = false" class="">the word/phrase</a></li>
                  <li><a href="" ng-click="condition.type = 'hashtag'; condition.typeDisplayed = 'the hashtag'" class="">the hashtag</a></li>
                  <li><a href="" ng-click="condition.type = 'picture'; condition.typeDisplayed = 'a picture'" class="">a picture</a></li>
                  <li><a href="" ng-click="condition.type = 'quotation'; condition.typeDisplayed = 'a quotation'" class="">a quotation</a></li>
                </ul>
              </div>                
              <div ng-show="condition.type == 'link'" class="inlineBlock">
                <input type="text" class="form-control" placeholder="(any domain)" ng-model="condition.link">
              </div>
              <div ng-show="condition.type == 'word'" class="inlineBlock vertAlignTop">
                <div>
                  <input type="text" class="form-control" placeholder="Enter a word or phrase" ng-model="condition.word">
                </div>
                <div>
                  <label class="checkbox caseSensitiveLabel">
                    <input type="checkbox" ng-model="condition.wordIsCaseSensitive">Case-sensitive
                  </label>
                </div>
              </div>
              <div ng-show="condition.type == 'hashtag'" class="inlineBlock">
                <input type="text" class="form-control" placeholder="(any hashtag)" ng-model="condition.hashtag">
              </div>
            </div>
          </div>
        </div>
        <div class="paddingTop16">
          <button type="button" class="btn btn-primary" ng-click="addAnotherCondition()">
            <span class="icomoon-plus plus"></span>Add another
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="alert alert-danger alert-dismissable" ng-show="error">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="dismissError()">&times;</button>
    <strong ng-bind="error.message"></strong>
  </div>
  <button type="button" class="btn btn-primary btn-lg saveFilter" ng-click="saveFilter(draftFilter)" ng-disabled="draftFilterIsIncomplete()">
    <span ng-hide="busySaving">Save filter</span>
    <span class="icomoon-spinner3" ng-class="{spinner: busySaving}" ng-show="busySaving"></span>
  </button>
</div>




