<tabset justified="true">
  <tab heading="Your Filters">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h3 class="darkGray">
          <span>Active Filters<span>
          <span popover-placement="bottom" popover="Filters in this list are applied to tweets from top to bottom. The first filter whose conditions a tweet satisfies is the one that gets applied. Tweets that don't satisfy the conditions of any filters are placed in Good Stuff." popover-trigger="hover" class="icomoon-info infoPopover"></span>
        </h3>
        <div class="panel filterPanel">
          <div class="filtersContainer">
            <div class="row" ng-if="!activeFilters.length">
              <div class="col-xs-12 col-md-12">
                You currently have no active filters. To make one, click on <span class="icomoon-add-to-list wynnoPurple desktopButton"></span> in the navigation bar.
              </div>
            </div>
            <div class="row" ng-repeat="filter in activeFilters">
              <div class="col-xs-12 col-md-12">
                <div class="filterWrapper">
                  <div class="filterNumber">
                    <span ng-bind="$index + 1"></span>
                    <span> - </span>
                  </div>
                  <div class="filter">
                    <div class="filterText pieceOfDraft white" ng-class="{ayeGreenBackground: filter.type == 'hear', nayRedBackground: filter.type =='mute'}">
                      <div ng-bind-html="filter.rendered"></div>
                    </div>
                    <div class="filterToggleButtonWrapper">
                      <button type="button" class="btn btn-default" ng-click="disableFilter($index)">Disable</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="marginBottom20">
          <a class="darkGray" ng-show="!!disabledFilters.length || !disabledIsCollapsed" href="">
            <span ng-init="disabledIsCollapsed = true" ng-click="disabledIsCollapsed = !disabledIsCollapsed">
              <span ng-if="disabledIsCollapsed">Show</span>
              <span ng-if="!disabledIsCollapsed">Hide</span>
               disabled filters
            </span>
          </a>
        </div>
        <div collapse="disabledIsCollapsed">
          <h3 class="darkGray">Disabled Filters</h3>
          <div class="panel filterPanel">
            <div class="filtersContainer">
              <div class="row" ng-if="!disabledFilters.length">
                <div class="col-xs-12 col-md-12">
                  There are no more disabled filters.
                </div>
              </div>
              <div class="row" ng-repeat="filter in disabledFilters">
                <div class="col-xs-12 col-md-12">
                  <div class="filterWrapper">
                    <div class="filterNumber">
                      <span> - </span>
                    </div>
                    <div class="filter">
                      <div class="filterText pieceOfDraft white" ng-class="{ayeGreenBackground: filter.type == 'hear', nayRedBackground: filter.type =='mute'}">
                        <div ng-bind-html="filter.rendered"></div>
                      </div>
                      <div class="filterToggleButtonWrapper">
                        <button type="button" class="btn btn-default" ng-click="enableDisFilter('disabled', $index)">Enable</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>
  <tab>
    <tab-heading>
      <span>Suggestions </span>
      <span class="badge badgePurpleBadge" ng-show="!!suggestedFilters.length" ng-bind="suggestedFilters.length"></span>
    </tab-heading>
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h3 class="darkGray">Suggested Filters</h3>
        <div class="panel filterPanel">
          <div class="filtersContainer">
            <div bindonce="voteCount" class="row" ng-if="!suggestedFilters.length">
              <div class="col-xs-12 col-md-12">
                <span bo-text="votesRequiredForNextSugg"></span>
                <span bo-if="votesRequiredForNextSugg == 1">vote</span>
                <span bo-if="votesRequiredForNextSugg > 1">votes</span>
                 to go until some filter suggestions!
              </div>
            </div>
            <div class="row" ng-repeat="filter in suggestedFilters | reverse">
              <div class="col-xs-12 col-md-12">
                <div class="filterWrapper">
                  <div class="filterNumber">
                    <span ng-bind="$index + 1"></span>
                    <span> - </span>
                  </div>
                  <div class="filter">
                    <div class="filterText pieceOfDraft white" ng-class="{ayeGreenBackground: filter.type == 'hear', nayRedBackground: filter.type =='mute'}">
                      <div ng-bind-html="filter.rendered"></div>
                    </div>
                    <div class="filterToggleButtonWrapper">
                      <button type="button" class="btn btn-default" ng-click="adoptSugg($index)">Enable</button>
                      <button type="button" class="btn btn-default" ng-click="dismissSugg($index)">Dismiss</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="marginBottom20">
          <a class="darkGray" ng-show="!!dismissedFilters.length || !dismissedIsCollapsed" href="">
            <span ng-init="dismissedIsCollapsed = true" ng-click="dismissedIsCollapsed = !dismissedIsCollapsed">
              <span ng-if="dismissedIsCollapsed">Show</span>
              <span ng-if="!dismissedIsCollapsed">Hide</span>
               dismissed filter suggestions
            </span>
          </a>
        </div>
        <div collapse="dismissedIsCollapsed">
          <h3 class="darkGray">Dismissed Suggestions</h3>
          <div class="panel filterPanel">
            <div class="filtersContainer">
              <div class="row" ng-if="!dismissedFilters.length">
                <div class="col-xs-12 col-md-12">
                  There are no more dismissed filter suggestions.
                </div>
              </div>
              <div class="row" ng-repeat="filter in dismissedFilters | reverse">
                <div class="col-xs-12 col-md-12">
                  <div class="filterWrapper">
                    <div class="filterNumber">
                      <span> - </span>
                    </div>
                    <div class="filter">
                      <div class="filterText pieceOfDraft white" ng-class="{ayeGreenBackground: filter.type == 'hear', nayRedBackground: filter.type =='mute'}">
                        <div ng-bind-html="filter.rendered"></div>
                      </div>
                      <div class="filterToggleButtonWrapper">
                        <button type="button" class="btn btn-default" ng-click="enableDisFilter('dismissed', $index)">Enable</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>
  <tab>
    <tab-heading>
      <span>Automatic wynnoing</span>
      <span class="badge badgePurpleBadge" ng-bind="200 - voteCount" ng-if="voteCount < 200"></span>
    </tab-heading>
    <div class="row" bindonce="voteCount">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="paddingTop40">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span>Toggle automatic wynnoing</span>
                <span popover-placement="bottom" popover="Think of automatic wynnoing as one more filter, one that wynno creates just for you based on your votes. It mutes tweets that wynno predicts you won't like which aren't covered by any of your other filters." popover-trigger="hover" class="icomoon-info infoPopover"></span>
              </h3>
            </div>
            <div class="panel-body">
              <div class="btn-group" bo-if="voteCount >= 200">
                <button type="button" class="btn btn-default" ng-model="autoWynnoing" btn-radio="true" ng-click="toggleAutoWynnoing(true)">On</button>
                <button type="button" class="btn btn-default" ng-model="autoWynnoing" btn-radio="false" ng-click="toggleAutoWynnoing(false)">Off</button>
              </div>
              <div bo-if="voteCount < 200">
                <span>In order to make helpful predictions, automatic wynnoing requires at least 200 votes. <strong><span bo-text="200 - voteCount"></span></strong> more to go!</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>
</tabset>


