<div class="welcomeWrapper">
  <div class="modal-header">
    <button class="close cancelFeedback" title="Close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h1 class="wynnoPurple"><span class="icomoon-info"></span>&nbsp;&nbsp;Welcome!</h1>
  </div>
  <div class="modal-body">
    <ol class="welcomeCopy">
      <li>Create filters to <span class="icomoon-filter ayeGreen"></span><strong class="ayeGreen"> Hear</strong> or <span class="icomoon-filter nayRed"></span><strong class="nayRed"> Mute</strong> tweets by clicking <span class="icomoon-add-to-list wynnoPurple"></span> in the navigation bar.</li>
      <li>Manage your filters on the <span class="icomoon-cogs"></span> Settings page.</li>
      <li>Click the <span class="icomoon-checkmark-circle aye"></span> and <span class="icomoon-cancel-circle nay"></span> buttons to train wynno to identify what tweets you <strong class="ayeGreen">like</strong> and <strong class="nayRed">don't like</strong>. wynno will suggest filters for you to adopt, and if you want, can filter out tweets it predicts you won't like which aren't already handled by your filters.</li>
    </ol>
  </div>
  <div class="modal-footer">
    <form name="agreement_form" role="form" novalidate ng-submit="submit()">
      <div class="centeredText">
        <label class="agree">
          <input class="tosCheckbox" type="checkbox" required ng-model="form.agreement" name="agreement"> I have read and agree to the <a href="#/terms" target="_blank">Terms of Service</a> and <a href="#/privacy" target="_blank">Privacy Policy</a>.
        </label>
      </div>
      <div class="centeredText">
        <button class="btn btn-primary btn-lg agreeTerms" type="submit" ng-disabled="agreement_form.agreement.$invalid">Get started!</button>
      </div>
    </form>
  </div>
</div>