extends layout

block nav
  .navbar.navbar-default.navbar-fixed-top(role="navigation")
    .navbar-header
      a.navbar-brand.wynno(href='#')
        span w
        span y
        span n
        span n
        span o
      button.navbar-toggle.glyphButton(ng-init="navCollapsed = true", ng-click="navCollapsed = !navCollapsed", ng-show="currentPathNeedsAuth || (!currentPathNeedsAuth && !!username)")
        span.sr-only Toggle navigation
        span.icomoon-filter.ayeGreen.mobileButton(ng-show="active[0]")
        span.icomoon-filter.nayRed.mobileButton(ng-show="active[1]")
        span.icomoon-cogs.mobileButton(ng-show="active[2]")
        span.icon-bar(ng-show="!currentPathNeedsAuth")
        span.icon-bar(ng-show="!currentPathNeedsAuth")
        span.icon-bar(ng-show="!currentPathNeedsAuth")
      button.navbar-toggle.glyphButton(ng-show="currentPathNeedsAuth", ng-click="openFilterBuilder()")
        .wynnoPurple
          span.icomoon-add-to-list.mobileButton
      button.navbar-toggle.noBorder(ng-show="currentPathNeedsAuth && undismissedSugg != null && !undismissedSugg", popover-placement="bottom" popover="{{votesRequiredForNextSugg}} votes until next filter suggestion!")
        .badge.badgePurpleBadge
          span(ng-bind="votesRequiredForNextSugg", ng-show="votesRequiredForNextSugg > 0")
          span.icomoon-spinner3(ng-show="votesRequiredForNextSugg == 0", ng-class="{spinner: votesRequiredForNextSugg == 0}")
      a.navbar-toggle.whiteBackground(ng-show="currentPathNeedsAuth && undismissedSugg != null && undismissedSugg", href="#/settings")
        .badge.badgePurpleBadge
          span.icomoon-trophy
      a.navbar-toggle.navMobileSignIn(href='/auth/twitter', ng-show="!currentPathNeedsAuth && !username")
        .twitterBird
          span.icomoon-twitter.twitterBlue
        .signIn Sign in with Twitter

    // Collect the stuff that gets toggled hidden
    .collapse.navbar-collapse(collapse="navCollapsed")
      ul.nav.navbar-nav.navbar-left.wynnoButtons(ng-show="currentPathNeedsAuth || (!currentPathNeedsAuth && !!username)")
        // these items displayed on mobile
        li.passing.visible-xs(ng-class='{active: active[0]}')
          a(href='#/in', ng-click='doCollapse()')
            span.icomoon-filter
            span.wynnoButtonDesc Good Stuff
        li.failing.visible-xs(ng-class='{active: active[1]}')
          a(href='#/out', ng-click='doCollapse()')
            span.icomoon-filter
            span.wynnoButtonDesc The Rest
        li.visible-xs(ng-class='{active: active[2]}')
          a(href='#/settings', ng-click='doCollapse()')
            span.icomoon-cogs
            span.wynnoButtonDesc Settings
        li.visible-xs.customDivider
        li.visible-xs
          a(href="https://twitter.com/{{username}}", target="_blank")
            span(ng-bind="username")
        li.visible-xs
          a(href="https://twitter.com/intent/tweet", target="_blank", ng-click="doCollapse()")
            span.icomoon-quill
            span Compose a tweet
        li.visible-xs
          a(href="", ng-click="logout('twitter')")
            span.icomoon-exit
            span Sign out

        // these items displayed on not-mobile
        li.passing.hidden-xs(ng-class='{active: active[0]}')
          a(href='#/in', tooltip-placement="bottom",tooltip="Good Stuff", tooltip-popup-delay='400')
            span.icomoon-filter
        li.failing.hidden-xs(ng-class='{active: active[1]}')
          a(href='#/out', tooltip-placement="bottom", tooltip="The Rest", tooltip-popup-delay='400')
            span.icomoon-filter
        li.hidden-xs(ng-class='{active: active[2]}')
          a(href='#/settings', tooltip-placement="bottom", tooltip="Settings", tooltip-popup-delay='400')
            span.icomoon-cogs

      .userButtons.navbar-right.hidden-xs
        a.btn.btn-default.navbar-btn.signInContainer(ng-cloak, href='/auth/twitter', ng-if="!currentPathNeedsAuth && !username")
          .twitterBird
            span.icomoon-twitter.twitterBlue
          .signIn Sign in with Twitter
        span(ng-show="currentPathNeedsAuth || (!currentPathNeedsAuth && !!username)")
          span.navbar-btn.whiteBackground(ng-show="undismissedSugg != null && !undismissedSugg", tooltip-placement="bottom", tooltip="# votes until next filter suggestion", tooltip-popup-delay='400')
            .badge.badgePurpleBadge.rightMargin10
              span(ng-bind="votesRequiredForNextSugg", ng-show="votesRequiredForNextSugg > 0")
              span.icomoon-spinner3(ng-show="votesRequiredForNextSugg == 0", ng-class="{spinner: votesRequiredForNextSugg == 0}")
          a.navbar-btn.whiteBackground(ng-show="undismissedSugg != null && undismissedSugg", href="#/settings", tooltip-placement="bottom", tooltip="You have new filtering suggestions!", tooltip-popup-delay='400')
            .badge.badgePurpleBadge.rightMargin10
              span.icomoon-trophy
          a.btn.btn-default.navbar-btn.glyphButton(href='', ng-click="openFilterBuilder()", tooltip-placement="bottom", tooltip="Create filter", tooltip-popup-delay='400')
            .wynnoPurple
              span.icomoon-add-to-list.desktopButton
          .dropdown.inlineBlock
            a.btn.btn-default.navbar-btn.username.dropdown-toggle(ng-cloak, href='', ng-bind="username")
            ul.dropdown-menu
              li
                a(href="https://twitter.com/intent/tweet", target="_blank")
                  span.icomoon-quill
                  span Compose a tweet
              li
                a(ng-click="logout('twitter')")
                  span.icomoon-exit
                  span Sign out

block content
  .container(ng-view='')
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');

block footer
  .footer
    .footerItem.footerBrand &copy; 2014 Wynno, Inc.
    .footerItem
      a(href="#/terms") Terms
    .footerItem
      a(href="#/privacy") Privacy
  .feedbackContainer(ng-click="openFeedback()")
    span.icomoon-bullhorn
    span.feedback Feedback 