extends layout

block nav
  .navbar.navbar-default.navbar-fixed-top(role="navigation")
    .navbar-header
      button.navbar-toggle(ng-init="navCollapsed = true", ng-click="navCollapsed = !navCollapsed")
        span.sr-only Toggle navigation
        span.icon-bar.firstBar
        span.icon-bar.secondBar
        span.icon-bar.thirdBar
      a.navbar-brand(href='#')
        .w w
        .y y
        .biggern n
        .smallern n
        .o o
      a.signInContainer.navbar-right(href='/auth/twitter', ng-show="!currentPathNeedsAuth")
        .twitterBird
          img(ng-src="/app/images/twitter-bird.png")
        .signIn Sign in with Twitter
      .username.navbar-right.dropdown(ng-show="currentPathNeedsAuth")
        a.dropdown-toggle(href='', ng-bind="username")
        ul.dropdown-menu
          li
            a(ng-click="logout()")
              span.icomoon-exit
              span Sign out

    // Collect the stuff that gets toggled hidden
    .collapse.navbar-collapse(collapse="navCollapsed")
      ul.nav.navbar-nav.navbar-left.wynnoButtons
        li.passing(ng-class='{active: active[0]}')
          a(href='#/in', tooltip-placement="bottom",tooltip="The Good", tooltip-popup-delay='500')
            span.icomoon-filter
        li.failing(ng-class='{active: active[1]}')
          a(href='#/out', tooltip-placement="bottom", tooltip="The Rest", tooltip-popup-delay='500')
            span.icomoon-filter
        li(ng-class='{active: active[2]}')
          a(href='#/settings', tooltip-placement="bottom", tooltip="Settings", tooltip-popup-delay='500')
            span.icomoon-cogs

block content
  .container(ng-view='')
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');

block footer
  .feedbackContainer(ng-click="open()")
    span.icomoon-bullhorn
    span.feedback Feedback  

  script(src='/app/bower_components/jquery/jquery.js')
  script(src='/app/bower_components/angular/angular.min.js')
  script(src='/app/bower_components/angular-animate/angular-animate.min.js')
  script(src='/app/bower_components/angular-route/angular-route.min.js')
  script(src='/app/bower_components/angular-cookies/angular-cookies.js')
  script(src='/app/bower_components/ngInfiniteScroll/ng-infinite-scroll.js')
  script(src='/app/bower_components/angular-bootstrap/ui-bootstrap.js')
  script(src='/app/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')

  script(src='/app/bower_components/angular-resource/angular-resource.js')
  script(src='/app/bower_components/angular-sanitize/angular-sanitize.js')

  script(src='/app/scripts/app.js')
  script(src='/app/scripts/controllers/init.js')
  script(src='/app/scripts/controllers/main.js')
  script(src='/app/scripts/controllers/settings.js')
  script(src='/app/scripts/controllers/nav.js')
  script(src='/app/scripts/controllers/landing.js')
  script(src='/app/scripts/controllers/checkin.js')
  script(src='/app/scripts/services/init.js')
  script(src='/app/scripts/services/tweet.js')
  script(src='/app/scripts/services/settings.js')
  script(src='/app/scripts/services/vote.js')
  script(src='/app/scripts/services/auth.js')
  script(src='/app/scripts/services/interceptor.js')
  script(src='/app/scripts/services/feedback.js')

