doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= wynno
    meta(name='description', content='the good stuff in your Twitter timeline')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', media='screen', href='http://fonts.googleapis.com/css?family=Ubuntu|Open+Sans')
    link(rel='stylesheet', href='app/styles/main.css')
    link(rel='stylesheet', href='app/styles/fonts.css')

    <!-- build:js js/scripts.min.js -->
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-animate/angular-animate.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/bower_components/angular-cookies/angular-cookies.min.js')
    script(src='/bower_components/ngInfiniteScroll/ng-infinite-scroll.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap.min.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')

    script(src='/bower_components/angular-resource/angular-resource.min.js')
    script(src='/bower_components/angular-sanitize/angular-sanitize.min.js')

    script(src='/scripts/app.js')
    script(src='/scripts/controllers/init.js')
    script(src='/scripts/controllers/main.js')
    script(src='/scripts/controllers/settings.js')
    script(src='/scripts/controllers/nav.js')
    script(src='/scripts/controllers/landing.js')
    script(src='/scripts/controllers/static.js')
    script(src='/scripts/services/init.js')
    script(src='/scripts/services/tweet.js')
    script(src='/scripts/services/settings.js')
    script(src='/scripts/services/vote.js')
    script(src='/scripts/services/auth.js')
    script(src='/scripts/services/interceptor.js')
    script(src='/scripts/services/feedback.js')
    script(src='/scripts/services/filter.js')
    script(src='/scripts/services/initialTweetsAndSettings.js')
    script(src='/scripts/filters/reverse.js')
    <!-- endbuild -->

  body(ng-app='wynnoApp',ng-controller='NavCtrl', ng-class="{filterBuilderOpen: filterBuilderOpen}")
      block nav
      block content
      block footer