doctype 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='app/styles/main.css')
    link(rel='stylesheet', href='app/styles/fonts.css')

  body(ng-app='wynnoApp')
    block nav
    block content