doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= wynno
    meta(name='description', content='the good stuff in your Twitter timeline')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', media='screen', href='http://fonts.googleapis.com/css?family=Ubuntu|Open+Sans')
    link(rel='stylesheet', href='app/styles/main.css')
    link(rel='stylesheet', href='app/styles/fonts.css')

  body(ng-app='wynnoApp',ng-controller='NavCtrl')
    block nav
    block content
    block footer