<form class="feedbackForm" name="feedback_form" novalidate ng-submit="submit(feedback_form.email.$invalid)">
  <fieldset>
    <button class="close cancelFeedback" title="Close" ng-click="cancel()">×</button>
    <legend>Feedback</legend>
    <div class="modal-body">
        <div>
          <textarea class="feedbackArea" required name="feedback" placeholder="Send us your comments or suggestions..." ng-model="feedback"></textarea>
        </div>
        <div>
          <input class="feedbackEmail" type="email" name="email" placeholder="Your email address (optional)" ng-model="email"></input>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary sendButton" type="submit" ng-disabled="feedback_form.feedback.$invalid">Send</button>
    </div>
  </fieldset>
</form>
