<form name="feedback_form" novalidate ng-submit="submit()">
  <fieldset>
    <legend>Feedback</legend>
    <div class="modal-body">
        <button class="close" title="Close" ng-click="cancel()">×</button>
        <textarea required name="feedback" placeholder="Send us your comments or suggestions..." ng-model="feedback"></textarea>
        <input type="email" name="email" placeholder="Your email address (optional)" ng-model="email"></input>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="feedback_form.feedback.$invalid">Send</button>
    </div>
  </fieldset>
</form>
