<div class="">
  <div class="">
    <div class="row">
      <span class="col-md-12">
        <h1 class="heading">Get more from less on Twitter.<br><small>See the tweets that interest you. Skip the rest.</small></h1>
      </span>
    </div>
  </div>
</div>
<div class="row">
  <span class="col-md-8">
    <span class="icomoon-twitter landingMainBig landingBird">
    </span>
    <span class="landingMainSmall">
      +
    </span>
    <span class="icomoon-filter landingMainBig landingFilter">
    </span>
    <span class="landingMainSmall">
      &#8594;
    </span>
    <span class="icomoon-grin landingMainBig landingGrin">
    </span>
  </span>
</div>
<div class="">
  <div class="row">
    <span class="col-md-4">
      <h2 class="heading">No signup</h2>
      <p>Sign in with Twitter: fast, secure, easy.</p>
    </span>
    <span class="col-md-4">
      <h2 class="heading">Free</h2>
      <p>As in, free.</p>
    </span>
    <span class="col-md-4">
      <button class="btn btn-large btn-primary">Try it now&nbsp;→</button>
    </span>
  </div>
</div>
<div class="">
  <div class="">
    <div class="row">
      <span class="col-md-7">
        <div class="page-header">
          <h1>1. Train</h1>
        </div>
        <p>By clicking the <span class="aye"><span class="icomoon-checkmark-circle"></span></span> and <span class="nay"><span class="icomoon-cancel-circle"></span></span> buttons that appear next to tweets, you train wynno to distinguish what you <span class="aye">like</span> from what you <span class="nay">don't care about</span>. </p>
      </span>
      <span class="col-md-5">
        <span class="landingMainSmall">(</span>
        <span class="icomoon-calculator landingFeature"></span>
        <span class="landingMainSmall">,</span>
        <span class="icomoon-lab landingFeature"></span>
        <span class="landingMainSmall">)</span>
      </span>
    </div>

  </div>
</div>
<div class="">
  <div class="">
    <div class="row">
      <span class="col-md-5">
        <span class="icomoon-volume-medium landingFeature"></span>
        <span class="landingMainSmall">/</span>
        <span class="icomoon-volume-mute landingFeature"></span>
      </span>
      <span class="col-md-7">
        <div class="page-header">
          <h1>2. Customize <small>megaphone / mute lists</small>
          </h1>
        </div>
        <p>Never miss tweets from users you care about, or that contain words of interest.</p>
        <p>Mute tweets from users you're not interested in, or that contain certain words.</p>
      </span>
    </div>
  </div>
</div>
<div class="">
  <div class="">
    <div class="row">
      <span class="col-md-7">
        <div class="page-header">
          <h1>3. Enjoy Twitter more!</h1>
        </div>
        <p>Spend more time exploring interesting content, and less time sifting through the stuff you don't care about.</p>
      </span>
      <span class="col-md-5">
        <span class="icomoon-heart2 landingFeature"></span>
      </span>
    </div>
  </div>
</div>
<div class="">
  <div class="">
    <div class="row">
      <span class="col-md-5">
        <span class="icomoon-eye-blocked landingFeature"></span>
      </span>
      <span class="col-md-7">
        <div class="page-header">
          <h1>Privacy <small>It's yours (period)</small>
          </h1>
        </div>
        <p>Your activity on wynno is private. No other users can see what tweets you like and dislike, or who is on your megaphone/mute lists. wynno is not one more social media presence for you to manage.</p>
      </span>
    </div>
  </div>
</div>
<div class="">
  <div class="">
    <div class="row">
      <span class="col-md-7">
        <div class="page-header">
          <h1>wynno <small>[<strong>win</strong>-oh] Also, winnow.</small>
          </h1>
        </div>
        <p><strong><em>verb, used with object</em></strong></p>
        <p>1. to free (grain) from the lighter particles of chaff, dirt, etc.</p>
        <p><strong>2. to separate or distinguish (valuable from not valuable tweets)</strong></p>
      </span>
    </div>
  </div>
</div>
<div class="">
  <div class="">
    <div class="row">
      <span class="col-md-12">
        <div class="page-header">
          <h2>More on how it works <small></small>
          </h2>
        </div>
        <p>Think of wynno as a personalized spam filter for Twitter.</p>
        <p>ONCE YOU FOLLOW MORE THAN A FEW PEOPLE ON TWITTER, YADA YADA YADA</p>
        <p>wynno divides your Twitter timeline into two timelines, one with all the tweets we think you'll like (The Good Stuff), and one with the stuff you won't (The Rest). But taste is unique to each person; how can wynno guess which tweets <strong>you</strong> will like?</p>
        <p>You train it, by voting <span class="aye"><span class="icomoon-checkmark-circle"></span></span> or <span class="nay"><span class="icomoon-cancel-circle"></span></span> on tweets. Voting teaches our algorithms about your preferences. The more you vote, the better wynno will get at identifying all the tweets you like, and excluding all the ones you'd have been just as happy to miss.</p>
        <p>You can also make sure you never miss tweets from certain people, or that contain certain words, by adding those users/words to your <strong>megaphone</strong> list. Megaphoned tweets always show up in The Good Stuff. Conversely, you can <strong>mute</strong> certain users or words--these tweets go straight to The Rest.</p>
      </span>
    </div>
  </div>
</div>
