<div class="jumbotron">
  <h1 class="text-center headline">Get more from less on Twitter.<br><small class="darkGray">See the tweets that interest you.<br> Skip the rest.</small></h1>
  <div class="row topAndBottomPadding">
    <span class="col-xs-12 col-md-12 text-center">
      <span class="icomoon-twitter landingMainBig white">
      </span>
      <span class="icomoon-filter landingMainBig white">
      </span>
    </span>
  </div>
  <div class="row">
    <span class="col-xs-12 col-md-12 text-center">
      <h2 class="wynnoPurple">No signup<br><small class="darkGray">Sign in with Twitter: secure, fast, easy.</small></h2>
    </span>
    <span class="col-xs-12 col-md-12 text-center">
      <h2 class="wynnoPurple">Free<br><small class="darkGray">100%, always.</small></h2>
    </span>
  </div>
  <div class="row">
    <span class="col-xs-12 col-md-12 text-center">
      <div class="tryItContainer">
        <button class="btn btn-lg btn-primary tryIt">Try it now&nbsp;→</button>
      </div>
    </span>
  </div>
</div>
<div class="row">
  <span class="col-xs-12 col-md-4 text-center">
    <span class="icomoon-volume-medium landingFeature ayeGreen"></span>
    <span class="landingFeatureSmall hidden-xs gray">/</span>
    <span class="icomoon-volume-mute landingFeature nayRed"></span>
  </span>
  <span class="col-xs-12 col-md-8 text-center">
    <h1 class="">Create custom filters <br class="visible-xs"><small>to hear or mute tweets</small></h1>
    <span class="landingCopy">
      <p>Never miss tweets from users you care about, or that contain keywords of interest.</p>
      <p>Mute tweets from users you're not interested in, or that contain certain keywords.</p>
    </span>
  </span>
</div>
<div class="">
  <div class="">
    <div class="row">
      <span class="col-xs-12 col-md-4 text-center">
        <div class="trainGlyph gray">
          <span class="icomoon-calculator landingFeature"></span>
        </div>
        <div class="trainGlyph gray">
          <span class="landingFeatureSmall hidden-xs">,</span>
        </div>
        <div class="trainGlyph beaker gray">
          <span class="icomoon-lab landingFeature"></span>
        </div>
      </span>
      <span class="col-xs-12 col-md-8 text-center">
        <h1>Train wynno <br class="visible-xs"><small>to recognize the tweets you like</small></h1>
        <span class="landingCopy">
          <p>By clicking the <span class="aye"><span class="icomoon-checkmark-circle"></span></span> and <span class="nay"><span class="icomoon-cancel-circle"></span></span> buttons that appear next to tweets, you train wynno to distinguish what you <strong class="ayeGreen">like</strong> from what you <strong class="nayRed">don't care about</strong>. </p>
        </span>
      </span>
    </div>
  </div>
</div> 

<div class="">
  <div class="">
    <div class="row">
      <span class="col-xs-12 col-md-4 text-center">
        <span class="icomoon-heart landingFeature twitterBlue"></span>
      </span>
      <span class="col-xs-12 col-md-8 text-center">
        <h1>Enjoy Twitter more!</h1>
        <span class="landingCopy">
          <p>Spend more time exploring interesting content, and less time sifting through the stuff you don't care about.</p>
        </span>
      </span>
    </div>
  </div>
</div>
<div class="">
  <div class="">
    <div class="row">
      <span class="col-xs-12 col-md-4 text-center">
        <span class="icomoon-eye-blocked landingFeature gray"></span>
      </span>
      <span class="col-xs-12 col-md-8 text-center">
        <h1>Privacy <small>It's yours.</small></h1>
        <span class="landingCopy">
          <p>Your activity on wynno is private. No other users can see what tweets you like or dislike, or who is on your heard/muted lists. wynno is not one more social media presence for you to manage.</p>
        </span>
      </span>
    </div>
  </div>
</div>
<div class="">
  <div class="">
    <div class="row">
      <span class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="page-header">
          <h1>wynno<br><small>[<strong>win</strong>-oh] Also, winnow.</small>
          </h1>
        </div>
        <span class="landingCopy">
          <p><strong><em>verb, used with object</em></strong></p>
          <p>1. to free (grain) from the lighter particles of chaff, dirt, etc.</p>
          <p><strong>2. to separate or distinguish (valuable from not valuable tweets)</strong></p>
        </span>
      </span>
    </div>
  </div>
</div>
<div class="">
  <div class="">
    <div class="row">
      <span class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="page-header">
          <h2>How it works <small>(continued)</small>
          </h2>
        </div>
        <span class="landingCopy">
          <p>If you follow more than a few people on Twitter, you probably find yourself reading a lot of tweets that you don't care about. You spend time sifting through stuff that isn't funny, interesting, or relevant for you, to get to the stuff that is.</p>
          <p>wynno helps you solve this problem. Think of it as a <strong>personalized spam filter</strong> for Twitter, where spam is any tweet you don't care about and would rather not have to spend the time reading.</p>
          <p>wynno divides your Twitter timeline into two timelines, one with all the tweets we think you'll like (<span class="ayeGreen">Good Stuff</span>), and one with the stuff you won't (<span class="nayRed">The Rest</span>). But taste is unique to each person; how can wynno guess which tweets <strong class="wynnoPurple">you</strong> will like?</p>
          <p>You train it, by voting <span class="aye"><span class="icomoon-checkmark-circle"></span></span> or <span class="nay"><span class="icomoon-cancel-circle"></span></span> on tweets. Voting teaches our algorithms about your preferences. The more you vote, the better wynno will get at identifying all the tweets you like, and excluding all the ones you'd have been just as happy to miss.</p>
          <p>You can also make sure you never miss tweets from certain people, or that contain certain keywords, by adding those users/keywords to your <strong>Heard</strong> list. Heard tweets always show up in <span class="ayeGreen">Good Stuff</span>. Conversely, you can <strong>mute</strong> certain users or keywords--these tweets go straight to <span class="nayRed">The Rest</span>.</p>
        </span>
      </span>
    </div>
  </div>
</div>
