<div class="">
  <div class="">
    <div class="row">
      <span class="col-md-12">
        <h1 class="heading">Get more from less on Twitter.<br><small>See the tweets that interest you. Skip the rest.</small></h1>
      </span>
    </div>
  </div>
</div>
<div class="row">
  <span class="col-md-8">
    <span class="icomoon-twitter landingMainBig landingBird">
    </span>
    <span class="landingMainSmall">
      +
    </span>
    <span class="icomoon-filter landingMainBig landingFilter">
    </span>
    <span class="landingMainSmall">
      &#8594;
    </span>
    <span class="icomoon-grin landingMainBig landingGrin">
    </span>
  </span>
</div>
<div class="">
  <div class="row">
    <span class="col-md-4">
      <h2 class="heading">No signup</h2>
      <p>Sign in with Twitter: fast, secure, easy.</p>
    </span>
    <span class="col-md-4">
      <h2 class="heading">Free</h2>
      <p>As in, free.</p>
    </span>
    <span class="col-md-4">
      <button class="btn btn-large btn-primary">Try it now&nbsp;→</button>
    </span>
  </div>
</div>
<div class="">
  <div class="">
    <div class="row">
      <span class="col-md-7">
        <div class="page-header">
          <h1>1. Train</h1>
        </div>
        <p>By clicking the <span class="aye"><span class="icomoon-checkmark-circle"></span></span> and <span class="nay"><span class="icomoon-cancel-circle"></span></span> buttons that appear next to tweets, you train wynno to distinguish what you <span class="aye">like</span> from what you <span class="nay">don't care about</span>. </p>
      </span>
      <span class="col-md-5">
        <span class="landingMainSmall">(</span>
        <span class="icomoon-calculator landingFeature"></span>
        <span class="landingMainSmall">,</span>
        <span class="icomoon-lab landingFeature"></span>
        <span class="landingMainSmall">)</span>
      </span>
    </div>

  </div>
</div>
<div class="">
  <div class="">
    <div class="row">
      <span class="col-md-5">
        <span class="icomoon-volume-medium landingFeature"></span>
        <span class="landingMainSmall">/</span>
        <span class="icomoon-volume-mute landingFeature"></span>
      </span>
      <span class="col-md-7">
        <div class="page-header">
          <h1>2. Customize <small>megaphone / mute lists</small>
          </h1>
        </div>
        <p>Never miss tweets from users you care about, or that contain words of interest.</p>
        <p>Mute tweets from users you're not interested in, or that contain certain words.</p>
      </span>
    </div>
  </div>
</div>
<div class="">
  <div class="">
    <div class="row">
      <span class="col-md-7">
        <div class="page-header">
          <h1>3. Enjoy Twitter more!</h1>
        </div>
        <p>Spend more time exploring interesting content, and less time sifting through the stuff you don't care about.</p>
      </span>
      <span class="col-md-5">
        <span class="icomoon-heart2 landingFeature"></span>
      </span>
    </div>
  </div>
</div>
<div class="">
  <div class="">
    <div class="row">
      <span class="col-md-5">
        <span class="icomoon-eye-blocked landingFeature"></span>
      </span>
      <span class="col-md-7">
        <div class="page-header">
          <h1>Privacy <small>It's yours (period)</small>
          </h1>
        </div>
        <p>Your activity on wynno is private. No other users can see what tweets you like and dislike, or who is on your megaphone/mute lists. wynno is not one more social media presence for you to manage.</p>
      </span>
    </div>
  </div>
</div>
<div class="">
  <div class="">
    <div class="row">
      <span class="col-md-7">
        <div class="page-header">
          <h1>wynno <small>[win-oh] Also, winnow</small>
          </h1>
        </div>
        <p></p>
      </span>
      <span class="col-md-5">
        <span class="icomoon-eye-blocked landingFeature"></span>
      </span>
    </div>
  </div>
</div>
<div class="">
  <div class="">
    <div class="row">
      <span class="col-md-5">
        <span class="icomoon-tree landingFeature"></span>
      </span>
      <span class="col-md-7">
        <div class="page-header">
          <h1>Privacy <small>It's yours (period)</small>
          </h1>
        </div>
        <p>Your activity on wynno is private. No other users can see what tweets you like and dislike, or who is on your megaphone/mute lists. wynno is not one more social media presence for you to manage.</p>
      </span>
    </div>
  </div>
</div>




<div class="">
  <div class="row">
    <span class="col-md-12">
      <p>wynno <small>[<strong>win</strong>-oh] Also, winnow.</small></p>
      <p><strong><em>verb, used with object</em></strong></p>
      <p>1. to separate or distinguish (valuable from not valuable tweets)</p>
    </span>
  </div>
</div>
