<div infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='0' infinite-scroll-immediate-check='false'>
  <div class="tweet" ng-repeat="tweet in tweets">
    <div ng-click="vote(tweet, 1, $index)" class="voteAye">
      <div class="aye" ng-hide="hideVoteButtons(tweet)">
        <a href=''><span class="icon-checkmark-circle"></span></a>
      </div>
    </div>
    <div class="tweetStuff">
      <div class="tweeterImage">
        <img src='{{tweet.__user.profile_image_url}}'>
      </div>
      <div class="tweetContent">
        <div class="tweetMeta">
          <div class="tweeterName">{{tweet.__user.name}}</div>
          <div class="tweeterScreenName">@{{tweet.__user.screen_name}}</div>
          <div class="tweetTimestamp">{{tweet.__elegant_time}}</div>
          <div class="pvalue">{{tweet.__p}}</div>
        </div>
        <div class="tweetText" ng-bind-html-unsafe="tweet.__text">
        </div>
        <div class="tweetFooter">
          <div ng-if="tweet.__retweeter.length > 0" class="retweetedStatus">Retweeted by {{tweet.__retweeter.name}}</div>
          <div class="tweetLink">
            <a href="https://twitter.com/{{tweet.__user.screen_name}}/status/{{tweet.__id_str}}">Link</a>
          </div>
        </div>
      </div>
    </div>
    <div ng-click="vote(tweet, 0, $index)" class="voteNay">
      <div class="nay" ng-hide="hideVoteButtons(tweet)">
        <a href=''><span class="icon-cancel-circle"></span></a>
      </div>
    </div>
  </div>
  <div ng-show='busy'>Loading earlier tweets...</div>
</div>
