<div infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='0' infinite-scroll-immediate-check='false'>
  <div class="tweet row" ng-repeat="tweet in tweets">
    <div class="tweetStuff span6 offset3" ng-class="{even: $index%2==0}">

      <div class="tweetContent">
        <div class="tweetMeta">

          <a class="leftBlock" href="https://twitter.com/{{tweet.__user.screen_name}}">
            <img class="tweeterImage" ng-src='{{tweet.__user.profile_image_url}}'>
            <span class="tweeterName">{{tweet.__user.name}}</span>
            <span class="tweeterScreenName">@{{tweet.__user.screen_name}}</span>
          </a>
          <div class="rightBlock">

            <div class="tweetTimestamp"><a href="https://twitter.com/{{tweet.__user.screen_name}}/status/{{tweet.__id_str}}">{{tweet.__elegant_time}}</a></div>
            <div class="pvalue">p = {{tweet.__p}}</div>

          </div>

        </div>
        <div class="tweetText" ng-bind-html="tweet.__text">
        </div>
        <div class="tweetFooter">
          <div ng-if="tweet.__retweeter" class="retweetedStatus">Retweeted by {{tweet.__retweeter.name}}</div>
        </div>
      </div>
    </div>
    <div class="voteButtons span1" ng-if="!hideVoteButtons(tweet)" ng-class="{even: $index%2==0}">
      <a href='' class="aVoteAye">
        <div ng-click="vote(tweet, 1, $index)" class="voteAye">
          <div class="aye">
            <span class="icomoon-checkmark-circle"></span>
          </div>
        </div>
      </a>
      <a href='' class="aVoteNay">
        <div ng-click="vote(tweet, 0, $index)" class="voteNay">
          <div class="nay">
            <span class="icomoon-cancel-circle"></span>
          </div>
        </div>
      </a>
    </div>


  </div>
  <div ng-show='busy'>Loading earlier tweets...</div>
</div>
