<div class="row">
  <div class="span4 offset1">
    <div class="protectedUsers"> 
      <div class="innerSettingsBlock">
        <h3 class="settingHeader">Protected Users</h3>
        <div class="protectedUser" ng-repeat="user in settings.protectedUsers">
          <button class="removeSetting" ng-click="updateSetting('remove','user','protect', user)">
            <span class="icomoon-cancel-circle"></span>
          </button>
          <div class="user">{{user}}</div>
        </div>
        <div class="">
          <div class="input-prepend input-append">
            <span class="add-on">@</span>
            <input class="span2" id="prependedInput" type="text" placeholder="Enter a username" ng-model="protectedUserInput" ng-minlength="1">
            <button class="btn" ng-click="updateSetting('add','user','protect',protectedUserInput)" value="Add">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="span4 offset2">
    <div class="protectedWords"> 
      <div class="innerSettingsBlock">
        <h3 class="settingHeader">Protected Words</h3>
        <div class="protectedWord" ng-repeat="word in settings.protectedWords">
          <button class="removeSetting" ng-click="updateSetting('remove','word','protect', word)">
            <span class="icomoon-cancel-circle"></span>
          </button>
          <div class="word">{{word}}</div>
        </div>
        <div class="">
          <div class="input-append">
            <input class="span2" type="text" ng-model="protectedWordInput" ng-minlength="1" placeholder="Enter a word"></input>
            <button class="btn" ng-click="updateSetting('add','word','protect',protectedWordInput)" value="Add">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4 offset1">
    <div class="mutedUsers">
      <div class="innerSettingsBlocks">
        <h3 class="settingHeader">Muted Users</h3>
        <div class="mutedUser" ng-repeat="user in settings.mutedUsers">
          <button class="removeSetting" ng-click="updateSetting('remove','user','mute', user)">
            <span class="icomoon-cancel-circle"></span>
          </button>
          <div class="user">{{user}}</div>
        </div>
        <div class="">
          <div class="input-prepend input-append">
            <span class="add-on">@</span>
            <input class="span2" type="text" ng-model="mutedUserInput" ng-minlength="1" placeholder="Enter a username"></input>
            <button class="btn" ng-click="updateSetting('add','user','mute', mutedUserInput)" value="Add">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="span4 offset2">
    <div class="mutedWords">
      <div class="innerSettingsBlock">
        <h3 class="settingHeader">Muted Words</h3>
        <div class="mutedWord" ng-repeat="word in settings.mutedWords">
          <button class="removeSetting" ng-click="updateSetting('remove','word','mute', word)">
            <span class="icomoon-cancel-circle"></span>
          </button>
          <div class="word">{{word}}</div>
        </div>
        <div class="">
          <div class="input-append">
            <input class="span2" type="text" ng-model="mutedWordInput" ng-minlength="1" placeholder="Enter a word"></input>
            <button class="btn" ng-click="updateSetting('add','word','mute',mutedWordInput)" value="Add">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>