<div class="row">
  <a href="/auth/twitter" class="btn btn-default">
    <div class="col-md-8 col-md-offset-2 text-center">
      <span class="icomoon-twitter bigBird"></span>
      <span>Sign in with Twitter</span>
    </div>
  </a>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h3>How it works:</h3>
    <ol>
      <li>Click the button above to be redirected to Twitter.</li>
      <li>Authorize wynno to read from your Home timeline, by signing into Twitter.</li>
      <li>wynno never sees your password, and can't post anything to Twitter on your behalf.</li>
      <li>That's it! You will be redirected back to wynno, where you can enjoy your Twitter timeline winnowed down to the good stuff.</li>
    </ol>
  </div>
</div>
