<div class="row">
  <div class="col-md-8 col-md-offset-2 oops">
    <h3>Oops! That page requires you to sign in first:</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <a href="/auth/twitter" class="btn btn-default">
      <span class="icomoon-twitter bigBird"></span>
      <span class="bigBirdText">Sign in with Twitter</span>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>How it works:</h3>
    <ol class="size20">
      <li>Click the button above to be redirected to Twitter.</li>
      <li>Authorize <span class="wynno">w<span class="y">y</span class="n">n<span>n</span>o</span> to read from your Home timeline, by signing into Twitter.</li>
      <li><span class="wynno">w<span class="y">y</span class="n">n<span>n</span>o</span> never sees your password, and can't post anything to Twitter on your behalf.</li>
      <li>That's it! You will be redirected back to <span class="wynno">w<span class="y">y</span class="n">n<span>n</span>o</span>, where you can enjoy your Twitter timeline winnowed down to the good stuff.</li>
    </ol>
  </div>
</div>
