<div class="feedbackWrapper">
  <div class="modal-header">
    <h1 class="wynnoPurple">Welcome!</h1>
  </div>
  <div class="modal-body">
    <h3><span class="icomoon-info"></span></h3>
    <h3>1. Create filters to <span class="icomoon-filter ayeGreen"></span><strong class="ayeGreen">Hear</strong> or <span class="icomoon-filter nayRed"></span><strong class="nayRed">Mute</strong> tweets on the <span class="icomoon-cogs"> Settings</span> page.</h3>
    <h3>2. Click the <span class="icomoon-checkmark-circle aye"></span> and <span class="icomoon-cancel-circle nay"></span> buttons to train wynno to identify what you <strong class="ayeGreen">like</strong> and <strong class="nayRed">don't like</strong>. wynno will suggest filters for you to adopt, and if you want, can even filter out tweets it predicts you won't like which aren't already handled by your filters. Think of your vote on a tweet as the answer to: Do I want to see tweets like this in the future? The more you vote, the better wynno will get at figuring out what you mean by "like this".</h4>
  </div>
  <div class="modal-footer">
    <form name="agreement_form" role="form" novalidate ng-submit="submit()">
      <div class="centeredText">
        <label>
          <input class="tosCheckbox" type="checkbox" required ng-model="form.agreement" name="agreement"> I have read and agree to the <a href="#/terms" target="_blank">Terms of Service</a> and <a href="#/privacy" target="_blank">Privacy Policy</a>.
        </label>
      </div>
      <div class="centeredText">
        <button class="btn btn-primary btn-lg" type="submit" ng-disabled="agreement_form.agreement.$invalid">Get started!</button>
        <button class="btn btn-default disagree" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>