<div class="feedbackWrapper">
  <div class="modal-header">
    <h1>Welcome to wynno!</h1>
  </div>
  <div class="modal-body">
      <h2><span class="icomoon-info"></span>Getting the most out of wynno:</h2>
      <h3>Heard / Muted lists</h3>
      <p>Use these lists to tell wynno how to handle tweets from certain users or that contain certain keywords. Find them under <span class="icomoon-cogs">Settings</span>.</p>
      <p><strong>Add to these lists early and often!</strong></p>
      <p>As you find yourself voting Yes to all those tweets from your best friend, add him/her to your list of Heard users.</p>
      <p>If you're voting No all the time to tweets about Congress, or from that former coworker of yours whom you don't want to unfollow, add them to Muted.</p>
      <h3>Voting</h3>
      <p>Think of your vote on a tweet as the answer to:</p> 
      <p class="centeredText"><strong>Do I want to see tweets like this in the future?</strong></p>
      <div class="centeredText">
        <div>
          <div><span class="icomoon-checkmark-circle aye"></span></div>
          <div><strong>Yes</strong></div>
        </div>
        <div>
          <div><span class="icomoon-cancel-circle nay"></span></div>
          <div><strong>No</strong></div>
        </div>
      </div>
      <p>'like this' means whatever you want it to--wynno's job is to figure that out.</p>
      <p>Three principles:
        <ol>
          <li>The more you vote, the better wynno will get.</li>
          <li>But don't feel you should vote on every tweet. If a tweet seems like a toss-up, skip it.</li>
          <li>Keep adding to your Heard / Muted lists!</li>
        </ol>
      </p>
  </div>
  <div class="modal-footer">
    <form name="agreement_form" role="form" novalidate ng-submit="submit()">
      <div class="centeredText">
        <label>
          <input class="tosCheckbox" type="checkbox" required ng-model="form.agreement" name="agreement"> I have read and agree to the <a href="#/terms" target="_blank">Terms of Service</a> and <a href="#/privacy" target="_blank">Privacy Policy</a>.
        </label>
      </div>
      <div class="centeredText">
        <button class="btn btn-primary btn-lg" type="submit" ng-disabled="agreement_form.agreement.$invalid">Get started!</button>
        <button class="btn btn-default disagree" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>