description "wynno Python machine learning"
author  "engineering@wynno.com"

start on runlevel [2345]
stop on runlevel [!2345]

env NODE_ENV={{ app_env }}

respawn

script
  screen -S zerorpc_server -d -m /home/deploy/launch_zerorpc_python_server.sh
end script

post-stop script
  screen -S zerorpc_server -X quit
end script
